/* Icon list component */

.icon-list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;

	&__item {
		max-width: 100%;
		padding: 1rem 0;

		@media screen and (min-width: 768px) {
			max-width: 20%;
			padding: 1rem;
		}

		span {
			display: flex;
			align-items: center;

			.icon {
				width: 30px;
				height: 30px;
				margin-right: 1rem;
			}
		}

		&--col {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 1 1 100%;
			padding: 2rem 0;

			@media screen and (min-width: 768px) {
				flex: 1 1 25%;
				padding: 1rem 0;
			}

			.logo {
				display: flex;
				max-width: 250px;
				max-height: 100px;
				flex: 0 1 auto;
			}
		}
	}
}
