/* Header styles */
header {
	background-color: #D93041;
	color: #fff;
	flex-direction: column;
	display: flex;
	flex: 0 1 auto;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	margin-bottom: 1rem;

	@media screen and (min-width: 768px) {
	  flex-direction: row;
	  padding: 1rem 2rem;
	  margin-bottom: 2rem;
	}

	.headline {
		display: flex;
		align-items: center;
	}


	h1 {
		margin: 0;
		font-size: 1.6rem;
		line-height: 1;
		text-transform: uppercase;

		@media screen and (min-width: 768px) {
			font-size: 2.7em;
		}
	}

	h2 {
		margin: 0.5rem 1rem 0;

		@media screen and (min-width: 768px) {
			margin: 0 auto 0 2rem;
		}
	}

	.button, button {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 1;
		background-color: #D93041;
		color: #fff;
		border: 0;
		margin: 0;

		@media screen and (min-width: 768px) {
			position: relative;
			width: auto;
			border: 1px solid #0D160B;
			background-color: #fff;
			color: #0D160B;
			margin: 0 0 0 1rem;
		}
	}

	.icon {
		width: 20px;
		margin: 0 1rem 0 0;

		@media screen and (min-width: 768px) {
			margin: 0 1rem 0 0;
			width: 30px;
		}
	}
}

.content {
	max-width: 1300px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 1.5rem;
	margin: auto;
	position: relative;

	@media screen and (min-width: 768px) {
		padding-bottom: 3rem;
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 150px;
		border-bottom: 2px #E85F5C solid;
		left: 50%;
		transform: translateX(-50%);
	}

	&:last-of-type {
		padding-bottom: 0;

		&:after {
			content: none;
		}
	}

	h1 {
		display: block;
		font-size: 1.5em;
		margin-block-start: 0.83em;
		margin-block-end: 0.83em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		font-weight: bold;
	}
}

/* Footer styles */
footer {
	background-color: #0D160B;
	color: #fff;
	padding: 1rem 2rem 3rem;
	margin-top: 3rem;

	@media screen and (min-width: 768px) {
		padding: 1rem 2rem;
	}
}
